[package]
name = "tucanos"
version = "0.1.0"
edition = "2024"
links = "tucanos"
resolver = "2"

[workspace]
members = ["tucanos-ffi", "tucanos-ffi-test"]

[dependencies]
nalgebra = { version = "0.33", features = ["rand"] }
env_logger = "0.11.5"
log = "0.4.22"
serde_json = "1.0"
serde = { version = "1.0", features = ["derive"] }
nlopt = { version="0.8.0", optional = true}
rustc-hash = "2.0.0"
sorted-vec = "0.8.6"
rand = "0.9.0"
rayon = "1.10"
typenum = { version ="1.17", features = ["const-generics"] }
num = "0.4.3"
tempfile = "3.14"
tmesh = { git = "https://github.com/tucanos/tmesh.git", branch="xg/dev" }

[features]
32bit-tags = []
64bit-tags = []
metis = ["tmesh/metis"]

[[bin]]
name = "test_simple3d"
required-features = ["scotch"]

[profile.release]
debug = 1

[lints]
workspace = true

[workspace.lints.rust]
unused_imports = "deny"
unused_variables = "deny"
unused_mut = "deny"
dead_code = "deny"
unused_attributes = "deny"

[workspace.lints.clippy]
all = { level = "deny", priority = -1 }
pedantic = { level = "deny", priority = -1 }
nursery = { level = "deny", priority = -1 }
cargo = { level = "deny", priority = -1 }
module_name_repetitions = "allow"
missing_panics_doc = "allow"
match_same_arms = "allow"
similar_names = "allow"
cast_possible_truncation = "allow"
missing_errors_doc = "allow"
cast_precision_loss = "allow"
multiple_crate_versions = "allow"
cargo_common_metadata = "allow"
doc_markdown = "allow"
suboptimal_flops = "allow"
many_single_char_names = "allow"
cast_sign_loss = "allow"
cast_possible_wrap = "allow"
should_panic_without_expect = "allow"
unreadable_literal = "allow"
# TODO: to remove
cognitive_complexity = "allow"
too_long_first_doc_paragraph = "allow"
missing_const_for_fn = "allow"
